body {
  background: #301638;
  font-family: 'Space Mono', monospace;
  color: #99a1b3;
}

.gif-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  border: 20px black;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.text-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  border: 20px black;
}

* {
  box-sizing: border-box;
}